#home, #result{
  height: 100vh;
  margin: 0 auto;
  padding: 100px;
  width: 50%;
}

#home {
  text-align: center;
}

#result p {
  margin: 0;
}

form {
  margin: 0 auto;
}

button {
  margin: 15px 0;
}

.score {
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
}

.score p{
  position: relative;
  top: 4px;
}

img {
  display: block;
  position: absolute;
  bottom:0;
  right: 0;
  z-index: -1;
  width: 75%;
}
