<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-center">
      <a class="navbar-brand" href="/">Real Estate Risk Assessment</a>
    </nav>
    <div id='home'>
      <h1>Oops! Invalid Link</h1>
      <p>For the time being, we're only able to process valid urls of property listings in Toronto from remax.com. We apologize for any inconvience.</p>
      <a href='/' class='text-primary'>Try again</a>
      <img src={{url_for('static', filename='undraw.png')}}/>
    </div>
</body>
</html>
