<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark justify-content-center">
      <a class="navbar-brand" href="/">Real Estate Risk Assessment</a>
    </nav>
    <div id='home'>
      <h1>Be informed on the risks you're taking.</h1>
      <p>Learn about your prospective place of residence. Enter the property listing url below and receive a personalized risk score and estimated insurance premium.</p>
      <form action='/scrape' method="post">
        <input type='text' name='url' class='form-control' value='www.example.com/property'>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <img src={{url_for('static', filename='undraw.png')}}/>
    </div>
</body>
</html>
